.overlay
{
    width: 64%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
   
}
.overlay-side
{
    position: fixed;
    top: 0;
    height: 100%;
    background: #fff;
    transition: transform .3s ease-out;
    z-index: 2;
    left: 64%;
    right: 0px;
    transform: translate(0%, 0px)
}
.overlay-padding
{
    padding-left: 40px;
    padding-right: 40px;
    width: 478px;
}
.overlay-header
{
    position: relative;
    padding-top: 30px;
    margin-bottom: 69px;
    z-index: 1;
}
.sign-text
{
    margin-top: 35px;
    float: left;
    font-size: 30px;
    font-weight: 500;
    color: red;
}
.cross-btn
{
    color: #535665;
    cursor: pointer;
    font-weight: 600;
    float: left;
    font-size: x-large;
}